.home-container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.home-container img {
    width: 300px;
    height: 400px;
}

.heading-container {
    width: 900px;
    margin-right: 30px;
}

.movie-heanding {
    color: orangered;
}

.btn-review {
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    padding: 7px 25px;
}

.btn-review:hover {
    background-color: red;
}